MyLogicAppRulesWorkspace/LogicApp/Artifacts/Rules/SchemaUser.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://BizTalk_Server_Project1.SchemaUser" targetNamespace="http://BizTalk_Server_Project1.SchemaUser" elementFormDefault="qualified">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UserDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Age" type="xs:int"/>
              <xs:element name="Name" type="xs:string"/>
              <xs:element name="zipCode" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Status">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Gold" type="xs:boolean"/>
              <xs:element name="Discount" type="xs:int"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>